.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.navbar-logo > h3 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
  color: black;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.navbar-links > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-right: 16px;
}
